@media screen and (max-width: 999px) {
    .PersonBlocks {
        flex-direction: column;
    }



    .person {
        align-content: center;
        width: 80%;
        margin-bottom: 10px;
        margin-left: 10%;
    }

    .person__slider {
        margin-left: 2%;
    }

    .MySkills {
        margin-left: 0;
    }
}

@media screen and (max-width: 960px) {
    .video-block {
        flex-direction: column;
    }

    .watch-video {
        height: 350px;
    }
}

@media screen and (max-width: 849px) {
    .person {
        padding: 50px 45px 35px;
    }

    .our-works__element {
        margin-top: 5%;
        margin-left: 5%;
    }

    .themesItems__arrowRight,
    .themesItems__arrowLeft {
        display: none;
    }

    .our-works__slider {
        flex-direction: column;
    }
}

@media screen and (max-width: 789px) {
    #text {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 667px) {
    .progressWhite {
        flex: 0 1 60%;
        margin-left: 2px;
        transition: 2s;
    }
}

@media screen and (max-width:620px) {
    .right-arrow {
        display: none;
    }

    .left-arrow {
        display: none;
    }
}


@media screen and (max-width: 567px) {
    .progressWhite {
        flex: 0 1 45%;
        transition: 2s;
    }

    .left-article {
        padding: 10%;
        transition: 2s;
    }

    .themesItems {
        flex-direction: column;
        padding: 30px;
        transition: 2s;
    }

    .themesItems__item {
        margin-top: 30px;
        transition: 2s;
    }
}

@media screen and (max-width: 458px) {
    .menu {
        margin: 10px auto;
    }
}