.my-size-220x220 {
  width: 220px;
  height: 220px;
}

/* accordion  */

.filling__menu {
  display: none;
}

#filling {
  margin-bottom: 5px;
}

.filling__menu .filling__title {
  cursor: pointer;
}

#list-db span {
  font-weight: bold;
}


/* progress bar */

.progress-block {
  display: flex;
  overflow: hidden;
}

.progress-bar {
  display: flex;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-top: 10px;
  width: 520px;
  overflow: hidden;
}

.progress-bar-text {
  margin-top: 2.5px;
  margin-left: 20px;
  overflow: hidden;
  color: black;
  position: absolute;
}

.progress-block p {
  margin-right: 10px;
}

.progress-block li {
  margin-right: 2px;
}

/* level block stars  */

.level-block{
  width: 50%; 
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
#level__block-stars{
  display: flex;
  justify-content: center;
}
#level__block-stars img{
  width: 40px;
  height: 40px;
}

/* plus-minus accordion icon */

.plus-minus{
  margin-right: 5px;
}
.items-center{
  align-items: center;
}

.level__block-h2 h2{
  margin-bottom: 110px;
}

/* footer */

footer {
  background-color: #21409a;
  color: #fff;
  margin-top: 20px;
  padding-top: 40px;
  padding-bottom: 20px;
  left: 0;
  bottom: 0;
  width: 100%;
  margin-bottom: 0;
  flex: 0 0 auto;
}
#page-footer {
  background: url(img/blue_big.jpg) no-repeat center 81%;
  -webkit-background-size: 100% 321%;
  -webkit-background-size: 100% 321%;
  background-size: 100% 321%;
}

#page-footer {
  min-height: 130px;
  text-align: left;
}

.link-moodle {
  margin-bottom: 9px;
}

.link-moodle a {
  color: #fff;
  text-decoration: underline;
  font-weight: bold;
}
.speedometr{
  margin-bottom: -100px;
}
