/* font-family: "BigNoodleTitling"; */
@font-face {
    font-family: "BigNoodleTitling";
    src: url("/fonts/BigNoodleTitling/BigNoodleTitling.eot");
    src: url("/fonts/BigNoodleTitling/BigNoodleTitling.eot?#iefix")format("embedded-opentype"),
        url("/fonts/BigNoodleTitling/BigNoodleTitling.woff") format("woff"),
        url("/fonts/BigNoodleTitling/BigNoodleTitling.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Myriad Pro Regular';
    src: url('/fonts/Myriad Pro Regular/MyriadPro-Regular.eot');
    src: url('/fonts/Myriad Pro Regular/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Myriad Pro Regular/MyriadPro-Regular.woff') format('woff'),
        url('/fonts/Myriad Pro Regular/MyriadPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MgOpenModata';
    src: url('/fonts/MgOpenModata/MgOpenModata.eot');
    src: url('/fonts/MgOpenModata/MgOpenModata.eot?#iefix') format('embedded-opentype'),
        url('/fonts/MgOpenModata/MgOpenModata.woff') format('woff'),
        url('/fonts/MgOpenModata/MgOpenModata.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}